page-tutorial .tutorial-transparent .toolbar-background {
  background: transparent;
  border-color: transparent;
}

page-tutorial .swiper-slide {
  display: block;
}

page-tutorial .slide-title {
  margin-top: 2.8rem;
}

page-tutorial .slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

page-tutorial b {
  font-weight: 500;
}

page-tutorial p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-medium);
}

page-tutorial p b {
  color: #000;
}
