.ion-item-divider.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.item-sliding-track ion-label {
  border-left: 2px solid transparent;
  padding-left: 10px;
}

.item-sliding-track-ionic ion-label {
  border-left-color: var(--ion-color-primary);
}

.item-sliding-track-angular ion-label {
  border-left-color: var(--ion-color-angular);
}

.item-sliding-track-communication ion-label {
  border-left-color: var(--ion-color-communication);
}

.item-sliding-track-tooling ion-label {
  border-left-color: var(--ion-color-tooling);
}

.item-sliding-track-services ion-label {
  border-left-color: var(--ion-color-services);
}

.item-sliding-track-design ion-label {
  border-left-color: var(--ion-color-design);
}

.item-sliding-track-workshop ion-label {
  border-left-color: var(--ion-color-workshop);
}

.item-sliding-track-food ion-label {
  border-left-color: var(--ion-color-food);
}

.item-sliding-track-documentation ion-label {
  border-left-color: var(--ion-color-documentation);
}

.item-sliding-track-navigation ion-label {
  border-left-color: var(--ion-color-navigation);
}

.item-option-favorite {
  background-color: var(--ion-color-favorite);
}

.fab-button-vimeo {
  background-color: var(--ion-color-vimeo);
  color: #ffffff;
}

.fab-button-twitter {
  background-color: var(--ion-color-twitter);
  color: #ffffff;
}

.fab-button-google {
  background-color: var(--ion-color-google);
  color: #ffffff;
}

.fab-button-facebook {
  background-color: var(--ion-color-facebook);
  color: #ffffff;
}
