.item-track .dot {
  display: inline-block;

  height: 10px;
  width: 10px;

  border-radius: 5px;
  margin-right: 10px;
}

.item-track-ionic .dot {
  background-color: var(--ion-color-primary);
}

.item-track-angular .dot {
  background-color: var(--ion-color-angular);
}

.item-track-communication .dot {
  background-color: var(--ion-color-communication);
}

.item-track-tooling .dot {
  background-color: var(--ion-color-tooling);
}

.item-track-services .dot {
  background-color: var(--ion-color-services);
}

.item-track-design .dot {
  background-color: var(--ion-color-design);
}

.item-track-workshop .dot {
  background-color: var(--ion-color-workshop);
}

.item-track-food .dot {
  background-color: var(--ion-color-food);
}

.item-track-documentation .dot {
  background-color: var(--ion-color-documentation);
}

.item-track-navigation .dot {
  background-color: var(--ion-color-navigation);
}