/* http://ionicframework.com/docs/theming/
 *
 * App Global Sass
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * also used as an entry point to import other Sass files to be included in the
 * output CSS.
 *
 * Shared Sass variables, which can be used to adjust Ionic's default Sass
 * variables, belong in "theme/variables.scss".
 *
 * To declare rules for a specific mode, create a child rule for the .md, or .ios
 * mode classes. The mode class is automatically applied to the <body>
 * element in the app.
 */

:root {
  --ion-color-primary:                 #3880ff;
  --ion-color-secondary:               #0cd1e8;
  --ion-color-tertiary:                #7044ff;
  --ion-color-success:                 #10dc60;
  --ion-color-warning:                 #ffce00;
  --ion-color-danger:                  #f04141;
  --ion-color-light:                   #f4f5f8;
  --ion-color-medium:                  #989aa2;
  --ion-color-dark:                    #222428;

  --ion-color-favorite:                #69BB7B;
  --ion-color-twitter:                 #1da1f4;
  --ion-color-google:                  #dc4a38;
  --ion-color-vimeo:                   #23b6ea;
  --ion-color-facebook:                #3b5998;

  --ion-color-angular:                 #ac282b;
  --ion-color-communication:           #8e8d93;
  --ion-color-tooling:                 #fe4c52;
  --ion-color-services:                #fd8b2d;
  --ion-color-design:                  #fed035;
  --ion-color-workshop:                #69bb7b;
  --ion-color-food:                    #3bc7c4;
  --ion-color-documentation:           #b16be3;
  --ion-color-navigation:              #6600cc;

  /* Material Design Toolbar Variables */
  --ion-toolbar-md-background-color:   var(--ion-color-primary);
  --ion-toolbar-md-text-color:         #fff;
}
