.type-card {
  display: flex;
  flex-direction: column;
}

.type-card ion-card-header {
  padding: 0;
}

.type-card ion-card-header .item {
  padding: 4px 16px;
}

.type-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}
.type-card ion-card-header .input-wrapper {
	align-items: left;
	flex-direction: column;
}